<div class="gird-custom"
     infiniteScroll
     [infiniteScrollDistance]="1.5"
     [infiniteScrollUpDistance]="1.5"
     [infiniteScrollThrottle]="350"
     (scrolled)="onScrolled()">
    <ng-container *ngFor="let item of items">
        <div class="gird-custom-item gif-card-container w-full bg-white mb-4">
            <div class="gif-card-layer w-full">
                <div class="gif-card-item">
                    <app-image-gif [imageSource]="item?.images?.downsized?.url" [style]="{'display':'contents'}"
                                   (click)="showDetail(item)"></app-image-gif>
                </div>
            </div>
            <div class="gif-footer-card">
                <div class="content-left"
                     pTooltip="{{item?.title}}"
                     tooltipPosition="top"
                     (click)="showDetail(item)">
                    <img [src]="item?.user?.avatar_url ?? '../../../../assets/img/default.png'"
                         alt="Image">
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-container *ngIf="updating">
    <ng-container [ngTemplateOutlet]="loadMoreTemplate"></ng-container>
</ng-container>

<ng-template #loadingTemmplate>
    <app-image-loading></app-image-loading>
</ng-template>

<ng-template #loadMoreTemplate>
    <app-image-loading [countLoading]="countLoadMore"></app-image-loading>
</ng-template>